<div class="mt40"></div>
<div class="container">
    <mat-card>
        <mat-card-content class="my-card">
            <div class="row">

                <div class="col-md-6">
                    <h1>Welcome to Pariksha</h1>
                    <h2>Learn <span>{{ dynamicText }}</span></h2>
                    <p>We are here to provide you a structured way in which you can learn WEB DEVELOPMENT and DATA
                        STRUCTURES in the most efficient manner. We provide you with courses which are begginer friendly
                        and which are easy to learn. We also have quizes in various domains for practicing and to test
                        your
                        knowledge about a particular topic.</p>
                </div>
                <div class="col-md-6">
                    <img class="img" src="../../../assets/images/home.png" alt="">
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="mt10"></div>

<div class="mt40">
    <h1 class="text-center " style="color: white;">Recommended Courses</h1>
</div>

<div class="mt40"></div>

<div class="container">
    <div class="row equal-height-card">
        <div class="col-md-4">
            <mat-card class="my-card-2">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Java Script Course</mat-card-title>
                    <mat-card-subtitle>Web Development - Front End</mat-card-subtitle>
                    <mat-card-subtitle>Free Course</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="my-card-img" src="../../../assets/images/javascript.webp"
                    alt="Photo of a JavaScript">
                <mat-card-content class="my-card-content">
                    <p>
                        This latest JavaScript course comes with premium curriculum that covers everything from basics
                        to advance. On top of that, handwritten notes of JS are provided for completely free. Enroll now
                        and strat learning!
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="watch-btn">Start Watching</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="my-card-2">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Spring Boot</mat-card-title>
                    <mat-card-subtitle>Web Development - Back End</mat-card-subtitle>
                    <mat-card-subtitle>Free Course</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="my-card-img" src="../../../assets/images/spring-boot.webp"
                    alt="Photo of a Spring Boot">
                <mat-card-content class="my-card-content">
                    <p>
                        This latest Spring Boot course comes with premium curriculum that covers everything from basics
                        to advance. On top of that, handwritten notes of Spring Boot are provided for completely free.
                        Enroll now
                        and strat learning!
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="watch-btn">Start Watching</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="my-card-2">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>DSA-1</mat-card-title>
                    <mat-card-subtitle>Data Structures</mat-card-subtitle>
                    <mat-card-subtitle>Free Course</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="my-card-img" src="../../../assets/images/dsa-1.jpg" alt="Photo of a DSA-1">
                <mat-card-content class="my-card-content">
                    <p>
                        This latest DSA-1 course comes with premium curriculum that covers everything from basics
                        to advance. On top of that, handwritten notes of DSA-1 are provided for completely free. Enroll
                        now
                        and strat learning!
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="watch-btn">Start Watching</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<div class="mt40"></div>