/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.text-center{
    text-align: center;
}

.mt20{
    margin-top: 20px;
}

.mt10{
    margin-top: 10px;
}

.mt40{
    margin-top: 40px;
}

body{
    background-color: #263238;
}